repos:

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: fix-byte-order-marker
      - id: debug-statements
      - id: mixed-line-ending
        args: [--fix, lf]
      - id: trailing-whitespace

  # clang-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.5
    hooks:
      - id: clang-format

  # CMake formatting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
    - id: cmake-format
      additional_dependencies: [pyyaml]
      types: [file]
      files: (\.cmake|CMakeLists.txt)(.in)?$

  # Python formatting
  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black

  # Python linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
    - id: flake8
      additional_dependencies: [flake8-bugbear]

  # Python imports
  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
    - id: isort
