name: Coverage

on:
  workflow_dispatch:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  linux-coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Install dependencies
      run: |
        wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
        sudo add-apt-repository "deb http://apt.llvm.org/noble/ llvm-toolchain-noble-21 main"
        sudo add-apt-repository ppa:ubuntu-toolchain-r/test
        sudo apt-get update
        sudo apt-get install -y clang-21 llvm-21 llvm-21-dev
        sudo ln -s /usr/bin/llvm-cov-21 /usr/bin/llvm-cov
        sudo ln -s /usr/bin/llvm-profdata-21 /usr/bin/llvm-profdata

    # Cache CPM modules
    - uses: actions/cache@v3
      with:
        path: "**/cpm_modules"
        key: ${{ github.workflow }}-cpm-modules-${{ hashFiles('**/CMakeLists.txt', '**/*.cmake') }}
        restore-keys: |
            ${{ github.workflow }}-cpm-modules-

    # Cache CMake dependencies
    - uses: actions/cache@v3
      with:
        path: "**/_deps"
        key: ${{ github.workflow }}-cmake-deps-${{ hashFiles('CMakeLists.txt', '**/CMakeLists.txt') }}
        restore-keys: |
            ${{ github.workflow }}-cmake-deps-

    - name: Configure CMake
      run: cmake --preset=clang-coverage

    - name: Build
      run: cmake --build build/clang-coverage

    - name: Run tests
      run: cmake --build build/clang-coverage -t ccov-run-netlist_unittests

    - name: Process coverage info
      run: cmake --build build/clang-coverage -t ccov-export-netlist_unittests

    - name: Submit to codecov.io
      uses: codecov/codecov-action@v5
      with:
        files: build/clang-coverage/ccov/netlist_unittests.json
        plugins: noop
        disable_search: true
        token: ${{ secrets.CODECOV_TOKEN }}
        verbose: true
